# Lets Code!
Below are examples of basic syntax in Python

In [1]:
# Use '#' for comment
print("Hello World!")

Hello World!

In [2]:
a = 1 # passing value to variable
print(a) # Print the output
2

1

2

In [ ]:
b = input("Input any number: ") #nilai input harus dalam string 
print("Value of b is",b)
print("Value of b is %s" %b)

In [ ]:
c = a + int(b) # another math operation: -, *, /, %
c

In [ ]:
text = "Python" 
text.upper() # Transform text to UPPERCASE

# Data Type in Python
There are 9 (basic) types in Python

In [ ]:
type(7) # Int or Integer #type: untuk mengetahui data dr integer

In [ ]:
type(7.0) # Float

In [ ]:
type([1,2,3,4]) # List kalo array hanya 1 tipe data

In [ ]:
type((1,2,3,4)) # Tuple mirip list tapi  nilai tidak dapat diubah (immutable)

In [ ]:
type({1,2,3,4}) # Set

In [ ]:
type({"id": 65555, "Name": "Hadi"}) # dict or Dictionary

In [ ]:
type("python") # str or String

In [ ]:
type(True) # bool or Boolean

In [ ]:
type(1 + 2j) # complex

# Mathematical Operations in Python

In [ ]:
a = 100 # assignment

In [ ]:
a + 5 # addition

In [ ]:
a - 10 # substraction

In [ ]:
a / 5 # division

In [ ]:
a**2 # power

# Logical Operation in Python
There are 3 logical operations in python, that is:
- and '&'
- or '|'
- not

In [ ]:
True & True # You can change '&' with 'and'

In [ ]:
True | False # You can change '|' with 'or'

In [ ]:
not True

# Comparisons in Python
There are 8 comparisons in python:
- equal '=='
- not equal '!='
- is
- is not
- greater than '>'
- less than '<'
- greater or equal '>='
- less or equal '<='

In [ ]:
2 == 2 # equal/same as (membandingkan nilai)

In [ ]:
2 != 2 # not equal/not same as

In [ ]:
2 is 2.0 # object identity

In [ ]:
2 is not 3 # negated object identity

In [ ]:
2 > 3 # greater than

In [ ]:
2 < 3 # less than

In [ ]:
2 >= 3 # greater or equal

In [ ]:
2 <= 3 # less or equal

floating point error

In [ ]:
0.1 + 0.2 == 0.3

## String Comparison
Yes, you can compare string and character.

In [ ]:
'a' > 'b'

In [ ]:
'a' > 'A'

In [ ]:
ord('a') # Change a character to ASCII value

In [ ]:
ord('A')

In [ ]:
chr(80) # Change an ASCII value to character

# String Operation

In [ ]:
a = "NaNa"
print(a)

In [ ]:
a*3 # repetition

In [ ]:
a*3 + ' Batman' # concatenation

In [ ]:
b = "Batman"
b[0:3] # Slicing

In [ ]:
b[0:-1] # Delete one character

In [ ]:
b[::-1] # Reversing

In [ ]:
b[4] # Indexing

In [ ]:
"x" in b # Searching

In [ ]:
len(b) # String size/length

# List
- Ordered list of data
- Data can be different types
- List are mutable
- Same indexing operations as String

## List Operations

In [ ]:
a = [1,2,3]
b = [4,5]

In [ ]:
a + b #concatenation

In [ ]:
a * 3 #repetition

In [ ]:
a[1:3] #cutting

In [ ]:
len(a) #List size

In [ ]:
a[2] #Indexing

In [ ]:
5 in a #Searching

In [ ]:
c = [1,"lion",True,1] # Multiple data type in 1 list
c

In [ ]:
d = [3,2,1,0]
d.sort() # Sorting
d

# Modifying List Content
- x[i] = a reassign the i-th element to the value of a
- Since x and y point to the same list object, both are changed
- The method append also modifies the list

In [ ]:
x = [3,10,1]
y = x.copy() #supaya y tidak berubah

In [ ]:
x[1] = 20
x

In [ ]:
y

In [ ]:
x.append(12) #Appending
x

In [ ]:
y

In [ ]:
y.pop(2) #deleting
y

In [ ]:
x

You can check their 'position' in memory using id().

In [ ]:
id(x) # id of x

In [ ]:
id(y) # id of y

In [ ]:
x = [3,10,1,3,1,3]
x.count(3) # Counting

In [ ]:
x.extend([4,5]) #Extending list
x

## Try with String!

In [ ]:
a = 'Batman'
b = a

In [ ]:
print("id of a is: ", id(a))
print("id of b is: ", id(b))

In [ ]:
a = "I'm " + a

In [ ]:
a

In [ ]:
b

Conclusion:

# Tuple
- Are immutable versions of lists nilai yang ada sebelumnya ga bisa diganti
- Faster than list

In [ ]:
x = (1,2,3,4,3)
x

In [ ]:
y = 1,2,3,4,5,6 # Another way to generate tuple tanpa tanda kurung 
y

In [ ]:
x.count(3) # Counting

In [ ]:
x[2] # Indexing

In [ ]:
a,b,c,d,e = x
print("value of a: ", a)
print("value of b: ", b)
print("value of c: ", c)
print("value of d: ", d)
print("value of e: ", e)

# Dictionaries
- A set of key-value pairs
- Dictionaries are mutable

In [ ]:
d = {1: "tes", "two": 2, "blah": [1,2,3]}
d

In [ ]:
d[1] # Get value from key 1

In [ ]:
d.get('two')# Get value from key 'two'

In [ ]:
d[2] # It doesn't work.

In [ ]:
d.get('blah') # Another way to get value from key

In [ ]:
y = {1:2,1:'one'} # You can use key twice
y

In [ ]:
d[1] = 99 # Change value based on key 1 with 99
d

In [ ]:
del(d[1]) # delete key 1
d

In [ ]:
d.pop('two')

In [ ]:
d

## Try it!
Get 't' from key 1 and get 2 from key "three"

In [ ]:
d = {1: "tes", "two": 2, "three": [1,2,3]} # Run it first.

In [ ]:
# Code here
print(d[1][0])
print(d['three'][1])

# Conditional Statement (If - Then)
Syntax
```python
if (condition):
		statement
```

In [ ]:
number = 9
if number >=0:
    print("true")

In [ ]:
# Beware That D*mn Whitespace!
if number >=0:
    print("false") #pake tab bisa jalan

# Conditional Statement (If - Else)
Syntax
```python
if (condition):
    statement1
else: 
    statement2
```

In [ ]:
number = -5
if number >=0:
    print("true")
else:
    print("false")

# Conditional Statement (If – Else If - else)
Syntax
```python
if (condition1):
    statement1
elif (condition2): 
    statement2
else: 
    statement3
```

In [67]:
number = 0
if number >0:
    print("Great than zero")
elif number<0:
    print("Less than zero")
else:
    print("Equal zero")

Equal zero

# Looping
Python has two kinds of looping:
- For-Loop
- While-Loop

## For-Loop
Syntax
```python
for i in list:
	statement
    
```

In [ ]:
for i in [0,1,2,3,4]: # Loop using list of number
     print(i)

In [ ]:
for i in range(5): # Loop using range
    print(i)

***
## Trivia - Why range() works?
Another way to generate list is using range().

In [ ]:
list(range(5)) # Stop at 5-1

In [ ]:
list(range(2,5)) # Start from 2 and Stop at 5-1

In [ ]:
list(range(2,10,1)) # Start from 2 and stop at 10-1 with 2 steps

---

In [ ]:
for i in ['A','B','C']: # Loop using list of string
    print(i)

In [ ]:
for i in 'Math': # Loop using string
    print(i)

---
## Trivia - Why using String also works?

Because string is iterable data type.
***

# Try it

In [ ]:
names = ['Haruka', 'Melody', 'Nabila']
for name in range(len(names)):
        print(name,names[name])

In [ ]:
names = ['Haruka', 'Melody', 'Nabila']
for index, name in enumerate(names):
    print(index, name)

## While-Loop
Syntax
```python
while (condition):
    statement
```

In [ ]:
a = 0
while a<6:
    print(a)
    a = a + 1

In [ ]:
str = 'Python' # Iterating over string
i = 0
while i < len(str):
    print(str[i])
    i += 1

# Loop Control Flow
You can control loop statement using these 3 statements:
- Break: Stop iteration based on given condition.
- Pass: Just passing statement.
- Continue: Jump to the next iteration.

In [ ]:
iter = [1,2,3,4,5] # Using break statement
for i in iter:
    print(i)
    if i == 5:
        print('stop')
        break

In [ ]:
iter = [1, 2, 3, 4]
for i in iter:
    print(i)
    if i == 3:
        print("passing")
        pass

In [ ]:
for letter in "Python": # Using continue statement
    if letter == "h":
        continue
        print("Continue")
    print(letter)

# Function (Basic)
- Sequence of instructions that perform a task.
- Building block of code.

![function diagram](function-diagram.jpg)

In [ ]:
def addition(a,b): # Define function for addition that return value
    return a+b #manfaatnya return

In [ ]:
addition(1,2)

In [ ]:
result = addition(4,5)
result

In [ ]:
def substraction(a,b=1): # Define function for substraction with default value for b = 1
    return a-b

substraction(10)

In [ ]:
def powerUp(a,b): # Define function for power without return value
     a*b
powerUp(2,3)

In [ ]:
a = powerUp(2,3)
print(a)

# Try it

Define function for calculating triple Phytagoras
$$ C = \sqrt{A^2 + B^2}$$

In [70]:
def pitagoras(a,b):
    c = (a**2 + b**2 ) ** 0.5
    return c
pitagoras(3,4)

5.0

Define function for converting Fahrenheit to Celcius
$$ T_{C^{\circ}} = (T_{F{\circ}} - 32) \times \frac{5}{9}$$

In [71]:
def Celcius(a):
    Fahrenheit = (a - 32) * (5/9)
    return Fahrenheit

Celcius(100)

37.77777777777778

Define function to check if the temperature is hot if T > 40, warm if T between 20 and 40 and cold if T less than 20.

In [74]:
def temperature(t):
    if t > 40:
        print ("Hot")
    elif t < 40 & t > 20:
        print ("Warm")
    else:
        print("Cold")
    return
        
temperature(19)

Cold

# Built-In Function
Python has some built-in function:
![Python Built-In Function](python-built-in-function.png)
Click this [link](https://docs.python.org/3/library/functions.html) for futher example or information about built-in function.

In [75]:
abs(-1) # Absolute value

1

In [76]:
max([1,2,10,9,100]) # Find maximum value

100

In [77]:
min([1,-10,2,-20]) # Find minimum value

-20

In [78]:
eval('1 + 2')  # Running code inside code <- codeception :v

3

In [85]:
bool(1) # Turn number or character into boolean

True

In [86]:
list(zip([1,2,3,4],[4,5,6,7]))

[(1, 4), (2, 5), (3, 6), (4, 7)]

# Input & Output
- The raw_input(string) method returns a line of user input as a string.
- The parameter is used as a prompt.
- The string can be converted by using the conversion methods int(string), float(string), etc.

In [91]:
a = input("input any number: ")
a

input any number: 456

'456'

In [92]:
int(a) # Convert string to integer

456

In [93]:
float(a) # Convert string to float

456.0

In [94]:
list(a) # Convert string to list

['4', '5', '6']

## Open or Read File
- Use ```open(“filename”,”r”)``` to read files.
    - ```.read()``` method return string
    - ```.readline()``` method return one line at a time.
    - ```.readlines()``` method return a list of lines.
    - ```.close()``` method to close file.

In [97]:
import os # import os module <- we gonna talk about it later about importing module
os.getcwd() # Find your working directory

'/Users/efefer/Downloads/Basic Python - Part 1'

In [ ]:
os.chdir('') # Set new working directory. Optional

In [95]:
fileText = open('./data.txt', 'r') # read files from working directory

In [100]:
fileText.read() # Read files

'Only happy text passing through :)\nStand on the shoulders of giant\n'

In [101]:
fileText.read() # Read again

''

In [102]:
fileText.seek(0) # Reset to begining of line

0

In [103]:
fileText.read() # Read again

'Only happy text passing through :)\nStand on the shoulders of giant\n'

In [104]:
fileText.close() # Dont forget to close the file after you are done with it

In [106]:
with open('./data.txt', 'r') as f:
    text = f.readlines()

## Write and Save File
- Use ```open("filename","w")``` to write files.
    - ```.write(string)``` method to write a fixed sequence of characters to a file.
    - ```.writelines(string)``` method to write a list of strings.

In [ ]:
fileText = open("testText.txt","w") # Make file named "testText.txt"

In [ ]:
fileText.write("This is text file. ") # Write any text inside .write() function

In [ ]:
fileText.write("It’s kind of geeky way to write text file. \n") # Write any text then add newline using \n

In [ ]:
fileText.writelines(['This is list 1. \n', 'This is list 2.\n','Wow, so geeky, so Wow.']) # Write using .writelines()

In [ ]:
fileText.close()

# Manipulating Array using Numpy

## What is NumPy?
- Numpy is library/module that its purpose is to use Python for solving mathematical and scientific problems.
- As alternative to MATLAB, Scilab or Octave.

In [1]:
from numpy import * # Import all object from numpy

In [2]:
array([1,2,3,4]) # Making 1D array or 1D-vector

array([1, 2, 3, 4])

In [3]:
print('this is pi value: %.30f' %pi)
print('this is e value: %.10f' %e)

this is pi value: 3.141592653589793115997963468544
this is e value: 2.7182818285

In [4]:
type(array([1,2,3,4])) #Type of array

numpy.ndarray

In [5]:
import numpy as np # Better way to import numpy

In [6]:
vector = np.array([1,2,3,4]) # Create 1D array
vector

array([1, 2, 3, 4])

In [7]:
print('this is pi value: %f' %np.pi) # pi value
print('this is e value: %e' %np.e) # e value

this is pi value: 3.141593
this is e value: 2.718282e+00

In [8]:
np.info(np.array) # Use np.info(numpy.method) for any information about numpy method/property

array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)

Create an array.

Parameters
----------
object : array_like
    An array, any object exposing the array interface, an object whose
    __array__ method returns an array, or any (nested) sequence.
dtype : data-type, optional
    The desired data-type for the array.  If not given, then the type will
    be determined as the minimum type required to hold the objects in the
    sequence.  This argument can only be used to 'upcast' the array.  For
    downcasting, use the .astype(t) method.
copy : bool, optional
    If true (default), then the object is copied.  Otherwise, a copy will
    only be made if __array__ returns a copy, if obj is a nested sequence,
    or if a copy is needed to satisfy any of the other requirements
    (`dtype`, `order`, etc.).
order : {'K', 'A', 'C', 'F'}, optional
    Specify the memory layout of the array. If object is not an array, the
    newly created array will be in C order (row major) unless 'F' is
    specified, in which case it will be in Fortran order (column major).
    If object is an array the following holds.

    ===== ========= ===================================================
    order  no copy                     copy=True
    ===== ========= ===================================================
    'K'   unchanged F & C order preserved, otherwise most similar order
    'A'   unchanged F order if input is F and not C, otherwise C order
    'C'   C order   C order
    'F'   F order   F order
    ===== ========= ===================================================

    When ``copy=False`` and a copy is made for other reasons, the result is
    the same as if ``copy=True``, with some exceptions for `A`, see the
    Notes section. The default order is 'K'.
subok : bool, optional
    If True, then sub-classes will be passed-through, otherwise
    the returned array will be forced to be a base-class array (default).
ndmin : int, optional
    Specifies the minimum number of dimensions that the resulting
    array should have.  Ones will be pre-pended to the shape as
    needed to meet this requirement.

Returns
-------
out : ndarray
    An array object satisfying the specified requirements.

See Also
--------
empty_like : Return an empty array with shape and type of input.
ones_like : Return an array of ones with shape and type of input.
zeros_like : Return an array of zeros with shape and type of input.
full_like : Return a new array with shape of input filled with value.
empty : Return a new uninitialized array.
ones : Return a new array setting values to one.
zeros : Return a new array setting values to zero.
full : Return a new array of given shape filled with value.


Notes
-----
When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
and a copy is forced by a change in dtype, then the order of the result is
not necessarily 'C' as expected. This is likely a bug.

Examples
--------
>>> np.array([1, 2, 3])
array([1, 2, 3])

Upcasting:

>>> np.array([1, 2, 3.0])
array([ 1.,  2.,  3.])

More than one dimension:

>>> np.array([[1, 2], [3, 4]])
array([[1, 2],
       [3, 4]])

Minimum dimensions 2:

>>> np.array([1, 2, 3], ndmin=2)
array([[1, 2, 3]])

Type provided:

>>> np.array([1, 2, 3], dtype=complex)
array([ 1.+0.j,  2.+0.j,  3.+0.j])

Data-type consisting of more than one element:

>>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
>>> x['a']
array([1, 3])

Creating an array from sub-classes:

>>> np.array(np.mat('1 2; 3 4'))
array([[1, 2],
       [3, 4]])

>>> np.array(np.mat('1 2; 3 4'), subok=True)
matrix([[1, 2],
        [3, 4]])

---
# Trivia - How Importing Modules/Libraries
- Use ```from module import class``` if you want just parts of that module to be used.
- Use ```import module as alternativeName``` if you want to import module using namespace. 
***

# Numpy Array
Syntax
```python
np.array(object, dtype)
```
with:
- object: Values to be used in creating array.
- dtype: Giving type to array

In [12]:
vector = np.array([1,2,3,4,5]) # Generate array using list
vector

array([1, 2, 3, 4, 5])

In [13]:
vector = np.array([1,2,3,4], dtype= np.float32)
vector

array([1., 2., 3., 4.], dtype=float32)

In [14]:
vector = np.array([1.0,'Python', True])
vector

array(['1.0', 'Python', 'True'], dtype='<U32')

# Array Creation
You can generate array as same as generating list.

In [15]:
np.array((1,2)) # Using tuple

array([1, 2])

In [16]:
np.array(range(10)) # Using range

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
twoDArray = np.array([[1,2,3,4,5],[6,7,8,9,10]]) # Creating 2D array
twoDArray

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [18]:
np.array([(1.5,2,3),(4,5,6,7)])

array([(1.5, 2, 3), (4, 5, 6, 7)], dtype=object)

## numpy.arange()
Use numpy.arange to generating vector with arithmetic progression.
Syntax
```python
np.arange(start,stop=None, step=1, dtype=None)
```
with:
- start: First value of sequence
- stop: limiting value
- step: Common difference
- dtype: Giving type to array

In [19]:
np.arange(9) # Creating array with limiting value of 9

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [20]:
np.arange(1,10) # Creating array start from 1 to 10-1

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [21]:
np.arange(2,10,2) # Creating array start from 2 to 10-1 every 2 step

array([2, 4, 6, 8])

# Another Ways to Generate Array
- ```np.zeros()``` : create an array of zeros.
- ```np.ones()``` : create an array of ones.
- ```np.linspace()``` : create an array of evenly spaced values.
- ```np.full()``` : create an constant array.
- ```np.eye()``` : create identity matrice.
- ```np.random.random()``` : create an array with random values. <- Gonna talk about ```np.random()``` later.
- ```np.empty()``` : create an array from given shape and type, without initializing entries.
- ```np.matrix()```: create a matrix.

In [22]:
np.zeros((2,4)) # Create an 2D-array of zeros with 2 rows and 4 columns.

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [23]:
np.ones((3,3)) # Create an 2d-array of ones with 3 rows and 3 columns.

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [24]:
np.linspace(0,2,9) # Create an array start from 0 to 2 spaced by 9.

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [25]:
np.full((3,4), 3) # Create an constant array of 3 with 3 rows and 4 columns.

array([[3, 3, 3, 3],
       [3, 3, 3, 3],
       [3, 3, 3, 3]])

In [26]:
np.eye(5) # Create an identity matrix.

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [27]:
np.random.random((2,2)) # Create an array with random values from uniform distribution [0,1), 2 rows and 2 columns.

array([[0.88623263, 0.59291965],
       [0.19785872, 0.38011035]])

In [28]:
vector = np.empty((3,2)) # Create an array with 3 rows and 2 columns.
vector

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [29]:
np.matrix([(1,2,3),(4,5,6)]) # Create an matrix with 2 rows and 3 columns.

matrix([[1, 2, 3],
        [4, 5, 6]])

# Numpy Operations
## Binary operations
There are 6 basic binary mathematical operations for numpy array and matrix:
- addition using ```+``` or ```np.add()```
- substraction using ```-``` or ```np.substract()```
- pointwise-division using ```/``` or ```np.divide()```
- pointwise-multiplicaiton using ```*``` or ```np.multiply()```
- dot product using ```numpyObject1.dot(numpyObject2)```

In [ ]:
a = np.array((1,2,3))
print(a)
b = np.array((1,2,6))
print(b)

In [ ]:
# addition
print('Using + sign: ', a+b)
print('Using np.add(): ', np.add(a,b))

In [ ]:
# substraction
print('Using - sign: ', a-b)
print('Using np.substract(): ', np.subtract(a,b))

In [ ]:
# division
print('Using / sign: ', a/b)
print('Using np.divide: ', np.divide(a,b))

In [ ]:
# multiplication
print('Using * sign: ', a*b)
print('Using np.multiply()', a*b)

### Dot product formula
for $\vec{a} = (a_1,a_2,...,a_n)$ and $\vec{b}=(b_1,b_2,...,b_n)$:
$$<\vec{a},\vec{b}> = \vec{a} \bullet \vec{b} = a_1 b_1 + a_2 b_2 + ... + a_n b_n$$

In [ ]:
# dot product
a.dot(b)

In [ ]:
mat1 = matrix([(1,3),(4,2)])
mat2 = matrix([(1,0),(0,1)])
print(mat1)
print(mat2)

In [ ]:
print('Addition using + : ')
mat1 + mat2 # same as np.add()

In [ ]:
print('Substraction using - : ')
mat1 - mat2 # same as np.subtract()

In [ ]:
print('Division using / :')
mat2/mat1

In [ ]:
print('Multiplication using * : ')
mat1*mat2

In [ ]:
print('Matrix multiplication using @')
mat1@mat2

In [ ]:
print('Matrix multiplication using np.matmul()')
np.matmul(mat1, mat2)

# Trivia: Difference between 2D-array multiplication and matrice

In [ ]:
mat1 = np.array([(1,3),(4,2)])
mat2 = np.array([(1,0),(0,1)])

In [ ]:
print('Result using * :')
print(mat1*mat2) # element-wise multiplication
print('Result using @ :')
print(mat1@mat2) # matrix multiplication

## Unary Mathematical Operations
There are 5 (or more) basic unary mathematical operations:
- power using ```np.power(array1,array2)```
- exponentiation using ```np.exp()```.
- square-root using ```np.sqrt()```.
- trigonometric function: ```np.sin()```, ```np.cos()```, and ```np.tan()```.
- logarithms using ```np.log()```.

In [39]:
print('Power 3 of ', a, ' is:')
np.power(a,3) # power 3 of a

Power 3 of  [1 2 3]  is:

array([ 1,  8, 27])

In [ ]:
print('Exponentiation of ', a, ' is:') # as same as np.power(e,a)
np.exp(a) # pointwise-exponentiation

In [38]:
print('Square-root of ', a, ' is:')
np.sqrt(a) # pointwise-square-root

Square-root of  [1 2 3]  is:

array([1.        , 1.41421356, 1.73205081])

In [37]:
print('sin of ', a,' is ',np.sin(a)) # values from a are treat as radian.
print('cos of ', a,' is ',np.cos(a))
print('tan of ', a,' is ',np.tan(a))

sin of  [1 2 3]  is  [0.84147098 0.90929743 0.14112001]
cos of  [1 2 3]  is  [ 0.54030231 -0.41614684 -0.9899925 ]
tan of  [1 2 3]  is  [ 1.55740772 -2.18503986 -0.14254654]

In [ ]:
print('Logarihtm of ', a, ' is:')
np.log(a) # By default, it's natural logarithm

# Comparing array
We can compare two arrays as same as we compare number.

In [33]:
a = np.array([1,2,3])
b = np.array([2,1,3])

In [34]:
a < 2 # element-wise comparison

array([ True, False, False])

In [35]:
a == b # element-wise comparison

array([False, False,  True])

In [36]:
np.array_equal(a,b) # array-wise comparison

False

# Array Method
There are SO MUCH method in numpy array object:
- ```.shape```: dimension of array/matrix
- ```.size```: number of elements inside array/matrix
- ```.sum()```: array-wise sum
- ```.max()``` or ```.min()```: array-wise maximum value / minimum value
- ```.std()```: Find standard deviation
- ```.mean()```: mean

In [10]:
a = np.array((1,2,3,4))
b = np.array([(1,2),(3,4)])
c = np.arange(0,8,1).reshape(2,4)

In [32]:
# Find shape/dimension of a,b and c
print('Shape of a is: ', a.shape)
print('Shape of b is: ', b.shape)
print('Shape of c is: ', c.shape)

Shape of a is:  (4,)
Shape of b is:  (2, 2)
Shape of c is:  (2, 4)

In [ ]:
# Find size of a,b and c
print('Size of a is: ', a.size)
print('Size of b is: ', b.size)
print('Size of c is: ', c.size)

In [ ]:
print('Sum of ',a, ' is:', a.sum())
print('Sum of ',b, ' is:', b.sum()) # Sum all elements
print('Sum of ',b, ' is:', b.sum(axis=0)) # Sum by column
print('Sum of ',b, ' is:', b.sum(axis=1)) # Sum by row

In [ ]:
print('Maximum value of ', a, ' is:', a.max())
print('Maximum value of ', b, ' is:', b.max()) # Maximum from all element

# Subsetting, Slicing and Indexing Array

In [21]:
a.shape

(4,)

In [22]:
print(a)

[1 2 3 4]

In [23]:
a[2] # Get value from index 2

3

In [24]:
a[:2] # Get value from index 0 to 2-1

array([1, 2])

In [25]:
b

array([[1, 2],
       [3, 4]])

In [15]:
b[1,] # Get value from row 1

array([3, 4])

In [17]:
b[1,1] # Get value from row 1 and column 1

4

In [18]:
b[:,0] # Get value from column 1

array([1, 3])

In [19]:
c

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [20]:
c[c<5] # Boolean indexing

array([0, 1, 2, 3, 4])

# Manipulating Array
- ```.T```: transpose.
- ```.transpose()```: transpose.
- ```.ravel(order='C')```: flatten the array.
- ```.reshape()```: Change dimension of array.
- ```np.append(array1, array2)```: Append item(s) into array.
- ```np.vstack(array1, array2)```: Stack array vertically row-wise.
- ```np.hstack(array1, array2)```: Stack array horizontally row-wise.
- ```np.row_stack(array1,array2)```:
- ```np.column_stack```: Stack array column-wise.
- ```np.insert(array,index,value)```: Insert item(s) into array based on its index/position.
- ```np.delete(array,index)```: Delete item(s) based on index/position.

In [32]:
c = np.matrix([(1,2,3),(4,5,6),(7,8,9),(10,11,12)])
c

matrix([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]])

In [33]:
c.T # transpose

matrix([[ 1,  4,  7, 10],
        [ 2,  5,  8, 11],
        [ 3,  6,  9, 12]])

In [34]:
c.ravel() # default order='C', flatten by row
c.ravel(order='F') # flatten by column

matrix([[ 1,  4,  7, 10,  2,  5,  8, 11,  3,  6,  9, 12]])

In [35]:
c.reshape((2,6)) # Change dimension of c to 2 x 6

matrix([[ 1,  2,  3,  4,  5,  6],
        [ 7,  8,  9, 10, 11, 12]])

In [36]:
c.resize((2,6)) # Permanently change its dimension
print(c)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

In [37]:
d = np.array(c.flatten())
d

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12]])

In [38]:
print('vector a', a)
print('vector d', d)
print('append both vector')
np.append(d,a) # Append items into array

vector a [1 2 3 4]
vector d [[ 1  2  3  4  5  6  7  8  9 10 11 12]]
append both vector

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4])

In [39]:
print('vector a',a)
temp = np.array([6,7,8,9])
print('vector temp',temp)
np.vstack((a,temp)) # Stack array a and temp vertically

vector a [1 2 3 4]
vector temp [6 7 8 9]

array([[1, 2, 3, 4],
       [6, 7, 8, 9]])

In [40]:
temp2 = np.hstack((a,temp)) # Stack array a and temp horizontally.
temp2

array([1, 2, 3, 4, 6, 7, 8, 9])

In [41]:
np.row_stack((a,temp))

array([[1, 2, 3, 4],
       [6, 7, 8, 9]])

In [42]:
np.column_stack((a,temp)) # Stack array a and temp column-wise.

array([[1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [43]:
print(np.insert(a,2,10)) # insert value of 10 into index 2 of array a.
a

[ 1  2 10  3  4]

array([1, 2, 3, 4])

In [44]:
print('array of a: ', a)
print(np.delete(a,3)) # delete value of index 3
print(np.delete(a,(1,2))) # delete value of index 1 and 2

array of a:  [1 2 3 4]
[1 2 3]
[1 4]

In [45]:
print(a)
a.put(2,10) # Updating value based on index and new value to be added.
a

[1 2 3 4]

array([ 1,  2, 10,  4])

In [46]:
a[2] = 3 # updating value using assignment
a

array([1, 2, 3, 4])

## Try It
Try to updating value in matrix c based on specific row or column

In [47]:
# Updating only value in row 1 and column 2 with 99
c[0,1] = 99
c

matrix([[ 1, 99,  3,  4,  5,  6],
        [ 7,  8,  9, 10, 11, 12]])

In [48]:
# Updating only value in column 2 with [10,11]
c[:,1] = np.array([[10],[11]])
c

matrix([[ 1, 10,  3,  4,  5,  6],
        [ 7, 11,  9, 10, 11, 12]])

In [50]:
# Updating only value in column 2 with [10,11]
c[:,1] = np.array([10,11])[:,np.newaxis]
c

matrix([[ 1, 10,  3,  4,  5,  6],
        [ 7, 11,  9, 10, 11, 12]])

In [51]:
# Updating only value in column 2 with [10,11]
c[:,1] = np.reshape( np.array([10,11]), (2,1) )
c

matrix([[ 1, 10,  3,  4,  5,  6],
        [ 7, 11,  9, 10, 11, 12]])

In [58]:
c[:,1] = np.matrix([[10],[11]])
c

matrix([[ 1, 10,  3,  4,  5,  6],
        [ 2, 11,  6,  8, 10, 12]])

In [ ]:
# Updating every value in row 2 with [2,4,6,8,10,12]

In [57]:
c[1,] = np.matrix([[2,4,6,8,10,12]])
c

matrix([[ 1, 10,  3,  4,  5,  6],
        [ 2,  4,  6,  8, 10, 12]])

# Numpy (Basic) I/O
You can use NumPy to read and write txt and even csv files.
- ```np.savetxt(filename, array, delimiter)```: save 1 or 2D array as text file with specifying filename and delimiter.
- ```np.loadtxt(filename, delimiter)```: load textfile by specifying filename and delimiter.

In [ ]:
# generate random data using normal distribution with mean 0, standard deviation 1 and size 100
temp1 = np.random.normal(loc=0,scale=1,size=100)
temp2 = 2*temp1 + 0.5

In [ ]:
dataToSave = np.column_stack((temp1,temp2))
dataToSave

In [ ]:
np.savetxt('random-data.txt', dataToSave, delimiter=',')

In [ ]:
np.loadtxt('./random-data.txt', delimiter=',')

In [ ]:
np.loadtxt('./Absenteeism_at_work.csv', delimiter=';') # Can you read/load this data?

# Play with Data using Pandas

In [ ]:
import pandas as pd # Import pandas

In [ ]:
# read csv file using pd.read_csv(filename, delimiter)
df = pd.read_csv('./Absenteeism_at_work.csv', delimiter=';')
df

In [ ]:
df.Education # Calling any variable directly by property

In [ ]:
df[['Reason for absence','Education']] # Seeing data by column name.

In [ ]:
df['Height'][1] # From column Height, see row 1

In [ ]:
df['Height'][1] = 180 # Assign new value to column Height and row 1
df['Height'][1]

In [ ]:
df.loc[1,'Height'] = 178 # Assign new value of row 1 and column Height
df.loc[1,'Height']

In [ ]:
df.Age.mean() # Calling method by column name; i.e. .mean()

In [ ]:
df.head(10) # Calling the first 10 rows of data from dataset

In [ ]:
df[4:10] # Select row 4 to 10-1

In [ ]:
df.loc[[12]] # select row 1

In [ ]:
df.loc[1:12] # Select data from row 1 to 12

In [ ]:
df.loc[[1],['ID']] # Select datum of row '1' and column 'ID'

In [ ]:
df.iloc[1:4,1:3] # Selecy datum of row 1 to 4-1 and column 1 to 3-1

In [ ]:
df.describe() # Summary statistics

In [ ]:
df = pd.DataFrame([1,2,3,4,5]) # Build data frame from single list
df

In [ ]:
data = [['Andi',10],['Bonita',12],['Charlie',13]]
pd.DataFrame(data) # Build data frame from multiple lists

In [ ]:
data = {'Name': ['Andi','Bonita','Charlie'], 'Age':[10,12,13]}
pd.DataFrame(data) # Build data frame from dictionary

In [ ]:
weight = np.random.randint(17,25, size=100)
height = np.random.randint(150,200, size = 100)
df = pd.DataFrame(np.column_stack((age,height)), columns=['Age','Height']) # Create Data Frame from array
df

In [ ]:
df17 = df[df['Age']==17] # Boolean indexing
df17

In [ ]:
df.plot.box() # Boxplot

# Matplotlib (Basic)
Matplotlib is a plotting library for the Python programming language and its numerical mathematics extension NumPy.

In [ ]:
import matplotlib.pyplot as plt # import matplotlib
%matplotlib inline

##  3 (Basic) Steps to Creating Plots
1. Prepare data
2. Plot
3. Show plot

In [ ]:
# Prepare data
x = np.random.random(100) # Generate 100 random values based on uniform distribution
y = 2*x + 0.002 + np.random.random(100) # Generate data for y-axis

In [ ]:
plt.plot(x,y,'o', label = 'Random Data Plot') # Generate plot figure
plt.show() # Show plot

In [ ]:
plt.plot(x,y,'o', label = 'Random Data Plot')
plt.plot(x,2*x+0.5,'-',label= 'Fitted Line') # Add another plot in one figure
plt.legend() # Add legend
plt.show()

In [ ]:
plt.plot(x,y,'o', label = 'Random Data Plot')
plt.plot(x,2*x+0.5,'-',label= 'Fitted Line')
# add text at x=0.8 and y=0.5 with text, fontsize 12 and color blue
plt.text(0.8,0.5, r"$\beta_0 = 2$", fontsize=14, color="b")
# add text at x=0.8 and y=0.3 with text, fontsize 12 and color blue
plt.text(0.8,0.3, r"$\beta_1 = 0.5$", fontsize=14, color="b")
plt.legend()
plt.show()

In [ ]:
plt.plot(np.sin(np.linspace(1,10,100)),'or')
plt.show()

In [ ]:
plt.bar(df.Age, df.Height) # Bar plot

In [ ]:
plt.boxplot([df.Age, df.Height])