In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/siit-analytics')

/home/qti/anaconda3/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
import pandas as pd

In [5]:
pd.read_sql_query('select narasi from laporan limit 10',con = engine)

                                              narasi
0  <p>&lt;!--[if gte mso 9]>&lt;xml&gt;\n<o:Offic...
1  <p>&nbsp;A.INDIKASI</p><div>&nbsp;</div><div>1...
2  <p>&lt;!--[if gte mso 9]>&lt;xml&gt;\n<o:Offic...
3  <p>&lt;!--[if gte mso 9]>&lt;xml&gt;\n<o:Offic...
4  <p>&lt;!--[if gte mso 9]>&lt;xml&gt;\n<o:Offic...
5  <p>&nbsp;</p>\n<div style="margin-bottom:12.0p...
6  <p>&lt;!--[if gte mso 9]>&lt;xml&gt;\n<o:Offic...
7  <p>&lt;!--[if gte mso 9]>&lt;xml&gt;\n<o:Offic...
8  <p>&lt;!--[if gte mso 9]>&lt;xml&gt;\n<o:Offic...
9  <p>&lt;!--[if gte mso 9]>&lt;xml&gt;\n<o:Offic...

In [6]:
import gc
gc.enable()

In [8]:
gc.collect()

0